name: Apply (Deploy Terraform)

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type YES to deploy"
        required: true

jobs:
  apply:
    if: github.event.inputs.confirm == 'YES'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    environment:
      name: production   # <-- This enforces your approval gates

    defaults:
      run:
        working-directory: terraform/envs/dev

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::<ACCOUNT>:role/<ROLE-NAME>
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - run: terraform init -upgrade
      - run: terraform validate

      - name: Download plan artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan
          path: .

      - name: Apply Terraform plan
        run: terraform apply -auto-approve tfplan



